body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.single-button {
  margin: 0px 10px;
}
.button-group {
  margin: 10px;
}
.tr-severity-5 {
  background-color: rgb(255, 11, 27);
}
.tr-severity-4 {
  background-color: rgb(255, 154, 71);
}
.tr-severity-3 {
  background-color: rgb(255, 222, 104);
}
.tr-severity-2 {
  background-color: rgb(40, 189, 189);
}
.tr-severity-1 {
  background-color: rgb(149, 212, 114);
}
.tr-severity-other {
  background-color: rgb(116, 173, 232);
}
.alerts-table {
  padding: 15px;
  overflow-y: scroll; 
  height:400px;
}
.date-time-picker {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 50px;
}
.date-time-label {
  margin-top: 5px;
  float: left;
}
.grid {
  width: inherit !important;
}
.table-border {
  border: 1px solid grey;
}
.key-text {
  font-weight: bold;
}
.value-text {
  word-break: break-all;
}
.header-style {
  background-color: rgb(242, 242, 242);
}

.header-style th {
  text-align: center !important;
}
#pageDropDown {
  margin: 20px 0px;
}

.preproc-detail {
  margin: 20px;
}

.preproc-title {
  text-align:right;
  font-weight: bold;
}
.vertical-middle {
  vertical-align: middle !important;
}

.edit-content {
  max-height: 400px;
  overflow-y: scroll;
}

.hide {
  display: none;
}
